{% extends "base.html" %}
{% load static %}

{% block title %}Design Challenge By Design Scorecard{% endblock %}


{% block content %}


<main>

  <!-- Best Pricing Start -->
  <section class="best-pricing pricing-padding mt-100" data-background="{% static 'img/gallery/covid-19.jpg' %}">
      <div class="container container-covid">
          <!-- Section Tittle -->
          <div class="row d-flex justify-content-center">
              <div class="col-lg-12 col-md-8">
                  <div class="section-tittle section-tittle2 text-center">
                      <h2>2 Days Design Challenge (COVID-19 Response)</h2>
                      <div class="covid-19">
                        <p>Through Human Centered Design, we can build deep empathy that will enable the government distribute resources and link individuals with what is within their proximities and to people who desperately require these resources. In other words, help the government distribute these resources appropriately.</p>
                        <h2>16th - 17th April 2020</h2>
                        <div class="say-btn mt-50">
                            <a href="/contact/" class="btn radius-btn">Register Now</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Shape -->
          <div class="app-shape app-shape-covid">
              <img src="{% static 'img/shape/app-shape-top.png' %}" alt="" class="app-shape-top heartbeat d-none d-lg-block">
          </div>
      </div>
  </section>
  <!-- Best Pricing End -->


    <!-- Best Features Start -->
    <section class="best-features-area inner-padding">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-8 col-lg-10">
                    <!-- Section Tittle -->
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <div class="section-tittle">
                                <h2>Lets Build SOlution For Our Country!</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Section caption -->
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span class="flaticon-support"></span>
                                </div>
                                <div class="features-caption">
                                    <h3>Problem Solving</h3>
                                    <p>The design challenge would be on the premise of Human Centered Design.</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span class="flaticon-support"></span>
                                </div>
                                <div class="features-caption">
                                    <h3>CDIs</h3>
                                    <p>We will strategically figure out modern citizens driven innovations (CDIs).</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span class="flaticon-support"></span>
                                </div>
                                <div class="features-caption">
                                    <h3>Resources</h3>
                                    <p>We will build deep empathy that will enable inclusive distribution of resources.</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span class="flaticon-support"></span>
                                </div>
                                <div class="features-caption">
                                    <h3>Data Points</h3>
                                    <p>We will use and generate data to develop a design pattern for social inclusiveness.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shpe -->
        <div class="features-shpae features-shpae2 d-none d-lg-block">
            <img src="{% static 'img/shape/covid-19-1.png' %}" alt="">
        </div>
    </section>
    <!-- Best Features End -->

    <!-- Available App  Start-->
    <div class="available-app-area">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="app-caption">
                        <div class="section-tittle section-tittle3">
                            <h2>Virtual Session With Experts</h2>
                            <p>Also, we will have a virtual session with industry experts from both the technology and economy sectors on Thursday 9th by 5:00 pm- 6:00 pm.
                            This session is to help us understand the economy and technology indicators as regards out current situation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="app-img">
                        <img src="{% static 'img/shape/available-app.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Available App End-->

    <!-- Say Something Start -->
    <div class="say-something-aera pt-90 pb-90 fix">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="offset-xl-1 offset-lg-1 col-xl-5 col-lg-5">
                    <div class="say-something-cap">
                        <h2>Lets Do This Together!</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <div class="say-btn">
                        <a href="/contact/" class="btn radius-btn">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- shape -->
        <div class="say-shape">
            <img src="{% static 'img/shape/say-shape-left.png" alt="" class="say-shape1 rotateme d-none d-xl-block">
            <img src="{% static 'img/shape/say-shape-right.png" alt="" class="say-shape2 d-none d-lg-block">
        </div>
    </div>
    <!-- Say Something End -->

  </main>


{% endblock content %}
